import { type FC } from 'react';

import { Container } from './styles';

interface {{pascalCase name}}Types {
  initial?: number;
}

const {{pascalCase name}}: FC<{{pascalCase name}}Types> = () => (
  <Container>
    <h1>{{pascalCase name}}</h1>
  </Container>
);

export default {{pascalCase name}};
